{% extends "padre.html" %}

{% block title %} Cursos {% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; margin-top: 2rem;">
    <div style="
        background: white;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        width: 100%;
        max-width: 500px;
    ">
    <h2 style="text-align: center; margin-bottom: 1.5rem;">Buscar Curso</h2>
<form method="GET" action="{% url 'buscar-cursos' %}">
    <input type="text" name="nombre" placeholder="Buscar curso..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>
<h2>Cursos:</h2>
<ul>
    {% for curso in cursos %}
    <li>{{ curso.nombre }} </li>
    {% empty %}
    <li>No hay cursos disponibles.</li>
    {% endfor %}
</ul>
<a href="{% url 'crear-curso' %}">Agregar curso</a>
</div>
</div>
{% endblock %}