{% extends "padre.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Bienvenido a Akings Tattoo</h2>
    <p>
        Akings Tattoo es un espacio inclusivo dedicado a la comunidad del arte corporal. Si deseás compartir tu estilo y experiencia para formar a futuros tatuadores, este es el lugar ideal.<br>
        Para quienes buscan dejar una huella artística en la piel, ofrecemos el entorno perfecto para expresarse.<br>
        Si tu objetivo es aprender el noble arte de transformar vidas a través del tatuaje, encontrarás aquí las herramientas y el apoyo necesarios.<br>
        Y para quienes quieren llevar consigo un arte excepcional, somos el espacio donde la pasión y la técnica se unen para hacerte feliz.
    </p>
{% endblock %}