{% extends "padre.html" %}

{% block content %}

<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <div style="
        background: white;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        width: 100%;
        max-width: 500px;
        margin: 1rem auto;
    ">
    <h2 style="text-align: center; margin-bottom: 1.5rem;">Personal</h2>
        {% if user.avatar %}
        <img style="width: 200px; height: 200px" src="{{user.avatar.imagen.url}}" alt="Imagen de avatar">
        {% endif %}
<p>Nombre de usuario: {{user.username}}</p>
<p>Primer nombre: {{user.first_name}}</p>
<p>Primer nombre: {{user.last_name}}</p>

</div>
</div>
{% endblock %}
