{% extends "padre.html" %}
{% block content %}
<div class="container">
    <h2> Elige el tipo de registro: </h2>
    <ul>
        <li style="margin-bottom: 1.5rem;">
            <a href="{% url 'register_usuario' %}" class="btn btn-primary">Registrar Usuario</a>
            <p class="description">Nota: Para usuarios que quieran hacer cursos y agendar tatuajes.</p>
        </li>
        <li style="margin-bottom: 1.5rem;">
            <a href="{% url 'register_profesor' %}" class="btn btn-primary">Registrar Profesor</a>
            <p class="description">Nota: Profesionales que quieran dar cursos enfocados a estilos de tatuajes.</p>
        </li>
        <li style="margin-bottom: 1.5rem;">
            <a href="{% url 'register_tatuador' %}" class="btn btn-primary">Registrar Tatuador</a>
            <p class="description">Nota: Tatuadores que quieran ofrecer sus servicios según su especialidad.</p>
        </li>
    </ul>
</div>
{% endblock %}
